footer{
  font-family: "Montserrat", sans-serif;
  background: rgb(54,54,54);
  background: radial-gradient(circle, rgba(54,54,54,1) 31%, rgba(0,0,0,1) 100%);
  color: white;
  padding: 50px;
  .footer-top{
    .icone{
      width: 220px;
      display: flex;
      justify-content: space-around;
      i{
        cursor: pointer;
      }
    }
  }
  .footer-bottom{
    margin-top: .5rem;
    a{
      color: white;
      &:hover{
        text-decoration: none;
        color: white;
      }
    }

  }
}


@media (max-width: 425px) {
    footer {
        padding: 50px 18px;
    }
}
