html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
#a{
    position: absolute;
    width:100%;
    height:100%;
}

.team-4{
  height: 200px;
}

.barra_ricerca_tomtom{
    position: relative;
    bottom:5px;
    .tt-search-box{
        border-radius:1000px;
    }

    .tt-search-box-input-container{
        border-radius:1000px;
    }
    .tt-search-box-result-list-container{
        border-radius:10px;
    }

    svg{
        fill:#B0C6F5;
    }

}
