html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
a.vue_card_link{
    position: absolute;
    width:100%;
    height:100%;
    z-index: 1000;
}

.team-4{
  height: 200px;
}
.row {
    width: 100%;
}
.barra_ricerca_tomtom{
    position: relative;
    bottom:5px;
    .tt-search-box{
        border-radius:1000px;
    }

    .tt-search-box-input-container{
        border-radius:1000px;
    }
    .tt-search-box-result-list-container{
        border-radius:10px;
    }

    svg{
        fill:#B0C6F5;
        &.black2 {
            fill:black;
        }
    }

}

.premium{
    position: absolute;
    right:5px;
    top:5px;
    width:30px;
    fill: #ffd740;
}

.premium-shadow{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255,215,64,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(255,215,64,1);
    box-shadow: 0px 0px 15px 0px rgba(255,215,64,1);


}

#mostra, #nascondi{
    cursor: pointer;
    margin-left: 20px;
    &:hover{
        text-decoration: underline;
    }


}
