

.sector {

   padding: 15px;
   text-align: center;
   max-width: 500px;
}

.section {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // min-height: 100vh;
    padding: 50px;

  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sector h5 {
    font-weight: bold;
}

.jumbotron{
    margin:15px 30px 0px 30px;
    border-radius:10px;
    background: linear-gradient( rgba(0, 0, 250, 0.25), rgba(125, 250, 250, 0.45)),
    url(https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=973&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:white;
    height:480px;

    h1 {
        color: black;
    }
  }

  .page-scroll{
    height:5000px;
  }


  .lead {
    color: white;
    font-size: 40px;
    font-weight:100;
    margin-top:-10px;
  }


.jumbotron button {
    padding: 8px 20px;
    background: #0c5ce3;
    border: 0;
    outline: none;
    border-radius: 20px;
    font-size: 13px;

    a {
        color: white;
        text-decoration: none;
    }
}

.sector img {
    position: relative;
    height: 40px;
    margin-bottom: 10px;

}

.team4minJumbo {
    height: 400px;
    background: url('https://www.startpreventivi.it/wp-content/themes/Avada-Child-Theme/images/Blog/Case-Appartamenti/Appartamento-scandinavo/1-appartamento-scandinavo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 15px;
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }
    div {
        color: white;
        z-index: 2;
    }
}
#minJumbo {
    border-radius: 15px;
}

@media (max-width: 767px) {
    .section {
        padding: 10px;
    }
}
